<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title> Add Film </title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container" style="margin-top: 2rem">
    <h1 th:text="'Film ' + ${film.namaFilm} + ' berhasil ditambahkan. '" class="text-center"></h1>
    <div class="align-items-center justify-content-center" style="display: flex">
        <a th:href="@{/perusahaan/view/(idPerusahaan=${film.perusahaan.idPerusahaan})}" class="text-center"> Kembali Perusahaan</a>
    </div>
</div>
</body>