<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Perusahaan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h1 style="margin: 2rem 2rem" class="text-center">Detail Perusahaan</h1>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column">
    <div class="flex-column align-items-center justify-content-center">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th>Nama Perusahaan</th>
                <td th:text="${perusahaan.namaPerusahaan}"></td>
            </tr>
            <tr>
                <th>Nomor Telepon Perusahaan</th>
                <td th:text="${perusahaan.noTeleponPerusahaan}"></td>
            </tr>
            <tr>
                <th>Pendapatan Perusahaan</th>
                <td th:text="'Rp '+${perusahaan.pendapatan}"></td>
            </tr>
            </tbody>
            <a th:href="@{/film/tambah/}+${perusahaan.idPerusahaan}" class="btn btn-primary btn-md float-left mb-3" style="color: white">Tambah Film</a>
        </table>

        <table class="table table-hover mt-4" style="margin-top: 1rem">
            <thead style="background: #503E9D; color:white; font-weight: bold">
            <tr>
                <th>No</th>
                <th>Nama Film</th>
                <th>Durasi</th>
                <th>Genre Film</th>
                <th>Tanggal Dibuat</th>
                <th>Nama Produser</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film, iterationStatus : ${listFilm}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${film.namaFilm}"></td>
                <td th:text="${film.durasiFilm}"></td>
                <td th:text="${film.genreFilm}"></td>
                <td th:text="${film.tanggalDibuat}"></td>
                <td th:text="${film.namaProduser}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>